@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary: #000000;
  --secondary: #F0F0F0;
  --accent: #FF3333;
}

body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  @apply antialiased text-black bg-white dark:bg-neutral-900 dark:text-white transition-colors duration-500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
  @apply font-bold tracking-tight capitalize;
}

.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-black/20 rounded-full hover:bg-black/40;
}
